<div class="leap">
    <h3>Why Leapsail?</h3>
    <h1>Excellent customer relations? <span>of course!</span></h1>
</div>

<div class="steps">
<div>
    <img src="../../assets/icons/step.svg" alt="">
</div>
<div>
    <h2>3 steps to get you started</h2>
    <div>
        <h4><span class="number">01</span> Create an Account</h4>
        <p><span class="line"></span>Signup for an account with your name, best email 
            address and phone number. </p>
    </div>
    <div>
        <h4><span class="number">02</span> Create an Account</h4>
        <p><span class="line"></span>You can speak with us or visit our office on 
            appointment. </p>
    </div>
    <div>
        <h4><span class="number">03</span> Create an Account</h4>
        <p>Watch your investment grow, realise your dreams 
            and begin your new life.</p>
    </div>
</div>
</div>
