<div class="work_container">
    <h1>Work in the way that works for you!</h1>
    <p>What would you like to manage with leapsail.com?</p>
    <div class="chips">
        <button  class="chip">
            <p class="chip_circle" style="border: 5px solid 
            #F84D4D;"></p>
            Tour
        </button>
        <button  class="chip">
            <p class="chip_circle" style="border: 5px solid 
            #0033C7;"></p>
            Webinar
        </button>
        <button  class="chip">
            <p class="chip_circle" style="border: 5px solid #F6B736;"></p>
            Educational
        </button>
        <button  class="chip">
            <p class="chip_circle"  style="border: 5px solid #B277B1;"></p>
            Finance
        </button>
        <button  class="chip">
            <p class="chip_circle"  style="border: 5px solid 
#6CC3C1;"></p>
            Investment
        </button>
    </div>
    <div class="chips">
        <button  class="chip">
            <p class="chip_circle" style="border: 5px solid 
            #FF6B00;"></p>
            Real Estate
        </button>
        <button  class="chip">
            <p class="chip_circle" style="border: 5px solid 
           #455A64;"></p>
            Ticketing
        </button>
        <button  class="chip">
            <p class="chip_circle" style="border: 5px solid 
            #A1BBFF;"></p>
            Visa
        </button>
        <button  class="chip">
            <p class="chip_circle"  style="border: 5px solid #FFD4E7;"></p>
            Hotel
        </button>
    </div>
    <div class="chips">
        <button  class="chip">
            <p class="chip_circle" style="border: 5px solid 
        #102770;"></p>
            Reservation
        </button>
        <button  class="chip">
            <p class="chip_circle" style="border: 5px solid 
           #8798C6;"></p>
            Event
        </button>
        <button  class="chip">
            <p class="chip_circle" style="border: 5px solid #0FBEE7;"></p>
            Entertainment
        </button>
        <button  class="chip">
            <p class="chip_circle"  style="border: 5px solid 
            #FFFFCD;"></p>
            Charity
        </button>
    </div>
    <div class="chips">
        <button  class="chip">
            <p class="chip_circle" style="border: 5px solid 
          
#C7874C;"></p>
            Hub
        </button>
        <button  class="chip">
            <p class="chip_circle" style="border: 5px solid 
           #15A481;"></p>
            Immigration
        </button>
    
    </div>
    <button class="getstartedBtn">Get Started</button>
</div>
