<div class="banner_container">
    <div class="left_banner">
        <h1 class="header_text">
            We are revolutionising your concept of comfort.
        </h1>
        <p class="small_text">Created with a can do and achievers mindset. A self-onboarding 
            application with features that open you to a new way.</p>

            <button class="getStarted">
                Get Started
            </button>
            <div class="stores">
                <a
            class="apple"
                href="https://apps.apple.com/"
              >
                <img src="./assets/icons/apple-store.svg" alt="appstore" />
              </a>
              <a
            class="playstore"
              href="https://apps.apple.com/"
            >
              <img src="./assets/icons/play-store.svg" alt="appstore" />
            </a>
            </div>
    </div>
    <div class="right_banner">
    </div>
</div>
