<div class="nav_container">
<div class="right_container">
    <h1 class="logo">Leapsail</h1>
    <ul>
        <li class="dropdown dropbtn">Why Leapsail <i class="bi bi-chevron-down"></i>
        
<div class="dropdown-contents">
    <div class="dropdown-content-left">
                <a href="#">
                    <div class="image-div" ></div>
                    <div>
                         <h5 class="label">Why Choose Leapsail</h5> 
                   <span>Over 8,000 Users trust Lit.Here's why.</span>
                    </div>
                  
                   </a>
                <a href="#">
                    <div class="image-div" ></div>
                    <div>
                    <h3 class="label"> Success rates</h3>  
          
                    Get the best transactions 
                    success rates in the industry.
                </div>
                </a>
                <a href="#">
                    <div class="image-div" ></div>
                    <div>
                    <h3 class="label"> Customer </h3> 
                    See Lit's checkout form and 
                    Dashboard in action.
                </div>
                </a>
              </div>
              <div class="dropdown-content-right">
                <a href="#">Why Choose Leapsail
                    Over 8,000 Users trust Lit. 
                    Here's why.</a>
                <a href="#">Success rates
                    Get the best transactions 
                    success rates in the industry.</a>
                <a href="#">Customer
                    See Lit's checkout form and 
                    Dashboard in action.</a>
              </div>
              
</div>
            
        
        </li>
        <li>Products</li>
    <li>Pricing</li>
    <li>Learn <i class="bi bi-chevron-down"></i></li>
    </ul>
</div>
<div class="left_container">
    <ul>
 <li>Contact <i class="bi bi-chevron-down small"></i></li>
    <li>Support <i class="bi bi-chevron-down"></i></li>
    <li>Login</li>

    </ul>
    <button>
        Create Account
    </button>
   

</div>
</div>
