<div class="bg">
    <div class="footer">
    <div>
        <h2>Leapsail.</h2>
        <p>All Rights Reserved &copy; Leapsail.com</p>
        <h5>Address:</h5>
        <p>23, Ezekiel street, Off Toyin street, Ikeja </p>
        <div class="stores">
            <a
        class="apple"
            href="https://apps.apple.com/"
          >
            <img src="./assets/icons/apple-store.svg" alt="appstore" />
          </a>
          <a
        class="playstore"
          href="https://apps.apple.com/"
        >
          <img src="./assets/icons/play-store.svg" alt="appstore" />
        </a>
        </div>
    </div>
    <div>
        <h4>Product</h4>
        <p>Product</p>
        <p>Pricing</p>
        <p>Partners</p>
        <p>Affiliates</p>
        <p>Students</p>
    </div>
    <div>
        <h4>Product</h4>
        <p>About</p>
        <p>Contact Us</p>
        <p>Careers</p>
        <p>Find a Partner</p>
        <p>In The News</p>
    </div>
    <div>
        <h4>Resources</h4>
        <p>Knowledge Base</p>
        <p>Guldes</p>
        <p>Daily Webinars</p>
        <p>Community</p>
        <p>Video Tutorials</p>
        <p>Blog</p>
    </div>
</div>
<div class="bottom">
    <p>Status</p>
    <p>Security</p>
    <p>Terms of Service</p>
    <p>Privacy Policy</p>
    <p>Accessibility Statement</p>
    <p>English</p>
    <p></p>
    <p></p>
    <p></p>
</div>
</div>