<div class="support">
    <div>
        <img src="../../assets/icons/pexels-picha-stock-3894378.svg" alt="">
    </div>
    <div>
<h2>24/7 customer support</h2>
<p>Our team is here to give you personalized support within the 
    hour - available 24/7. Join daily live webinars, watch our 
    tutorials, or browse through our knowledge base</p>
    </div>
</div>
<div class="comfort">
   <h1>Try leapsail.com for your comfort</h1>
   <p>Coman buy our market | Debit card go dey needed</p>
   <button>Get Started ></button>
</div>
